.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 980;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #286013;
    padding: 40px;
    margin: 30px;
    border-radius: 12px;
    max-width: 450px;
    min-height: 500px;
    max-height: 600px;
    color: white;
    gap: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 990;
    position: relative;
    animation: fadeIn 1s ease-in-out forwards;
}


.modal-container h1 {
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-wrap: balance;
    width: 70%;
    color: #fbc445;
    text-shadow: 4px 4px #977117;
}

.close-button {
    position: absolute;
    text-align: center;
    top: 7px;
    right: 8px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;
    padding: 5px 10px;
}

.close-button:hover {
    color: #574212;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: rotate(-5deg) translateZ(0) scale(0.8);
        
    }
    to {
        opacity: 1;
        transform: rotate(0deg) translateZ(0) scale(1);
    }
}
